{% extends "network/layout.html" %}

{% block body %}
    <!-- display messages using the messages tools in Django -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        <!-- The meta tag with http-equiv="refresh" attribute reloads the page after 2 seconds here -->
        <meta http-equiv="refresh" content="2;url={% url 'index' %}">
    {% endif %}

    {% if user.is_authenticated and creation_available %}
        <div id="create-view">
            <!-- <h3>New Post</h3> -->
            <form id="create-form" action="{% url 'create' %}" method="post">
                {% csrf_token %}

                <div class="form-group">
                    <h4>New Post</h4> 
                    <textarea class="form-control" id="create-content" placeholder="Content" rows="6" cols="40" name="content"></textarea>
                </div> 
                
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
        </div>
    {% else %}
        <h1>All Posts</h1>
    {% endif %}

    <div>
        <!-- 'page' or 'page.object_list' instead of 'posts' to get the number of posts set per page -->
        {% for post in page %}
            <div class="card">
                <div class="card-header">
                    <h5><a href="{% url 'profile' post.author.id %}">@{{post.author}}</a></h5>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>
                            <span id="post_{{post.id}}" class="list-inline-item">{{post.content}}</span>                        
                            {% if user.is_authenticated and user == post.author %}
                                <!-- Link trigger modal, add id related to the post in order to catch it in js script -->                            
                                <a href="#" id="editLink_{{post.id}}" class="list-inline-item edit-link" data-bs-toggle="modal" data-bs-target="#editModal_{{post.id}}">
                                    Edit
                                </a>
                                
                                <!-- Modal -->
                                <div class="modal fade" id="editModal_{{post.id}}" tabindex="-1" aria-labelledby="editModalLabel_{{post.id}}" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="editModalLabel_{{post.id}}">Edit this post</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        <textarea rows="3" cols="48" id="post_{{post.id}}_edit"></textarea>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <!-- To ensure that we always retrieve the correct CSRF token and not the initial one, we add a data attribute to  save button where we can store the CSRF token value -->
                                        <!-- also add data-bs-dismiss="modal" to close the modal on pressing 'save' -->
                                        <button type="button" id="save_btn_{{post.id}}" class="btn btn-primary" data-csrf="{{ csrf_token }}">Save changes</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            {% endif %}
                        </p>
                        
                        <footer class="blockquote-footer">                        
                            <span>posted on </span>
                            <cite title="Source Title">{{post.date_posted}} {% if post.edited %}[Edited on {{post.edited_on}}]{% endif %}</cite> <br>
                            <span class="list-inline-item">❤</span>
                            <p class="list-inline-item">Likes {{post.likes}}</p> 
                            <a href="#" class="list-inline-item">Comments</a>
                        </footer>
                    </blockquote>
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}