{% extends "network/layout.html" %}

{% block script %}
{% endblock %}

{% block body %}
    
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div>
        <h2>{{profile_user}}</h2>
        <br>
        FOLLOWERS: {{followers.count}}
        <br>
        FOLLOWING: {{following.count}}
        <br>
        {% if user != profile_user %}
            {% if profile_user in following %}
                <button>UNFOLLOW</button>
            {% else %}
                <button>FOLLOW</button>
            {% endif %}
        {% endif %}
        <br>
        <!-- 'page.object_list' instead of 'posts' to get the number of posts set per page -->
        {% for post in page.object_list %}
            <div class="card">                
                <div class="card-header">
                    <h5>@{{post.author}}</a></h5>
                </div>                
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p class="list-inline-item">
                        {{post.content}}
                    </p>
                    <span class="list-inline-item">❤</span>
                    {% if user.is_authenticated and user == post.author %}
                        <a href="#" class="list-inline-item">Edit</a>
                    {% endif %}
                    <footer class="blockquote-footer">                        
                        <span>
                            {% if edited %}
                                edited on
                            {% else %}
                                posted on 
                            {% endif %}
                        </span>
                        <cite title="Source Title">{{post.date_posted}}</cite> <br>
                        <p class="list-inline-item">Likes {{post.likes}}</p> 
                        <a href="#" class="list-inline-item">Comments</a>
                    </footer>
                  </blockquote>
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}