{% extends "network/layout.html" %}

{% load static %}

{% block body %}
    
    <!-- display messages using the messages framework in Django -->
    {% if messages %}
        <ul id="messages" class="messages alert alert-secondary px-4">
            {% for message in messages %}
                <li class="message fs-5 p-3">{{ message }}</li>
            {% endfor %}
        </ul>
        <!-- The meta tag with http-equiv="refresh" attribute reloads the page after 2 seconds here -->
        <meta http-equiv="refresh" content="2;url={% url 'profile' profile_user.id %}">
    {% endif %}
    
    
    <div class="profile-title align-items-center">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex align-items-center justify-content-start ms-5 ps-5">
                    <h1 class=""><strong>{{profile_user}}</strong></h1>
                    {% if user != profile_user %}
                        <!-- check if current user in followers list of this profile user or not to know which button to display ('Follow' or 'Unfollow') -->
                        {% if user in followers %}
                        <form action="{% url 'follow_unfollow' user_id=profile_user.id action='unfollow' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-lg ms-5">UNFOLLOW</button>
                        </form>
                        {% else %}
                        <form action="{% url 'follow_unfollow' user_id=profile_user.id action='follow' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-lg ms-5">FOLLOW</button>
                        </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-auto text-end me-5 pe-5">
                    <h4><strong>Followers: <span class="ms-3">{{followers.count}}</span></strong></h4>
                    <h4><strong>Following: <span class="ms-3">{{following.count}}</span></strong></h4>
                </div>
            </div>
        </div>
    </div>

    <div class="mx-5 px-5">
        <!-- 'page' or 'page.object_list' instead of 'posts' to get the number of posts set per page -->
        {% for post in page %}
            <div class="card my-3 rounded-3">
                <div class="card-header d-flex justify-content-between">
                    <a class="fs-4" href="{% url 'profile' post.author.id %}">@{{post.author}}</a>
                    {% if post.edited %}
                        <span class="mt-1 justify-content-end fs-6">Edited on <em class="mx-2">{{post.edited_on}}</em></span>
                    {% endif %}
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0 px-3">
                        <!-- set a message div -->
                        <p id="message_post_{{post.id}}" role="alert"></p>
                        <p>
                            <span id="post_{{post.id}}" class="list-inline-item mb-3">{{post.content}}</span>                        
                            {% if user.is_authenticated and user == post.author %}
                                <!-- Link trigger modal, add id related to the post in order to catch it in js script -->                            
                                <a href="" id="editLink_{{post.id}}" class="list-inline-item edit-link mx-3" data-bs-toggle="modal" data-bs-target="#editModal_{{post.id}}">
                                    Edit
                                </a>
                                
                                <!-- Modal -->
                                <div class="modal fade" id="editModal_{{post.id}}" tabindex="-1" aria-labelledby="editModalLabel_{{post.id}}" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="editModalLabel_{{post.id}}"><strong>Edit this post</strong></h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body pt-4 px-4 pb-0">
                                        <textarea class="p-1 new-content rounded-3" rows="8" cols="46" id="post_{{post.id}}_edit"></textarea>
                                        </div>
                                        <div class="modal-footer pb-3">
                                        <button type="button" class="btn btn-lg me-3" data-bs-dismiss="modal">Close</button>
                                        <!-- To ensure that we always retrieve the correct CSRF token and not the initial one, we add a data attribute to  save button where we can store the CSRF token value -->
                                        <button type="button" id="save_btn_{{post.id}}" class="btn btn-lg me-2" data-csrf="{{ csrf_token }}">Save changes</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            {% endif %}
                        </p>
                        
                        <footer class="blockquote-footer fs-6">                        
                            <span class="">posted on </span>
                            <cite class="mx-2" title="Source Title">{{post.date_posted}}</cite> 
                        </footer>
                        
                        {% if user.is_authenticated %}
                            <a href="" id="postReaction_{{post.id}}" class="list-inline-item btn-like me-3">
                                <!-- initially check if current user already liked this post to load the relative heart icon (blank or filled) -->
                                <img id="iconHeart_{{post.id}}" src="{% if user in post.likers.all %} {% static 'network/icons/heart-filled.png' %} {% else %} {% static 'network/icons/heart-blank.png' %} {% endif %}" alt="heart icon">
                            </a>
                        {% endif %}
                        <p class="list-inline-item mb-2 fs-6"><span id="postLikes_{{post.id}}" class="me-2">{{post.likers.count}}</span>Likes</p> 
                        <!-- <a href="#" class="list-inline-item">Comments</a> -->                        
                    </blockquote>
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}