body {
    color: #435334;
    background-color: #FAF1E4;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a.register-link, a.login-link {
    color: #435334;
}

.home-icon {
    margin-top: -15px;
}

.username {
    margin-top: -5px;
}

.title {
    font-size: 250%;
}

.latest-title {
    margin-bottom: -80px;
}

.profile-title {
    margin-top: 30px;
    margin-bottom: 30px;
}

.bg-navbar, .card-body {
    background-color: #CEDEBD;
}

.card-header, .modal-header {
    background-color: #9EB384;
}

.new-content {
    background-color: #CEDEBD;
    color: #435334;
    border-color: #435334;
}

.card-header a, .card-body a {
    color: #435334;
    font-weight: bold;
}

.modal-body, .modal-footer {
    background-color: #FAF1E4;
}

.messages {
    /* remove bullet points from this list items */
    list-style: none;
}

.btn {
    background-color: #5C703E; /* 4D5E2E */
    color: #fff;
}

.btn:hover {
    background-color: #9EB384;
    color: #fff;
}


/* colors: https://colorhunt.co/palette/faf1e4cedebd9eb384435334 */

